.App {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

.button {
  background-color: rgb(72, 70, 67);
  color: white;
  border-width: 1px;
  border-color: aliceblue;
  z-index: 101;
}

/* ----------Profile-------- */
.profile-container {
  position: relative;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-info {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-name {
  margin: 0;
}

.sign-out-btn {
  background-color: #f44336;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* ----------header-------- */
.header {
  height: 80px;
  background-color: #333;
  position: fixed;
  margin-top: 0;
  width: 100%;
}
/* ----------footer-------- */
.footerstyle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(237, 232, 232, 0.5);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------Home-------- */
.pagecontainer {
  background-image: url(./assets/bk.png);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}
/* ----------signin/up/fogerpassword-------- */
.loginContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginbox {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 8px;
  background-color: antiquewhite;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ----------HomeContent-------- */
.cardBody {
  margin-bottom: 300px;
  margin-top: 100px;
}
.cardBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
h1 {
  color: rgb(214, 206, 206);
}
h2 {
  color: rgb(214, 206, 206);
}
.cardContainer {
  background-color: rgba(21, 6, 72, 0.5);
  margin-left: 50px;
  margin-right: 50px;
  width: 150%;
}
.containerTitle {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.card {
  display: flex;
}
.card:hover {
  border: 2px solid rgb(212, 212, 222);
}
.gameImg {
  width: 75px;
  height: 40px;
}
.linkStyles {
  text-decoration: none;
}
.homeGameLink {
  text-decoration: none;
}
.arrow {
  margin-left: 5px;
  font-size: x-large;
  color: rgb(214, 206, 206);
  /* Add any other styles you want */
}
.gameName {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: rgb(214, 206, 206);
}
.recommendcardContainer {
  display: flex;
  /* flex-direction: row; */
  /* margin-right: 20px; */
  background-color: rgba(21, 6, 72, 0.5);
  border: 2px solid #ccc;
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
  height: 150px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.recommendcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  white-space: nowrap;
  animation: scrollText 5s linear infinite;
  transition: border 0.8s ease, background-color 0.8s ease;
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.recommendcard:hover {
  border: 2px solid #3498db;
  background-color: #3498db;
}
.recommendgameImg {
  width: 200px;
  height: 90px;
}
/* ----------MostPopular-------- */
.listbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/listbk.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.loading {
  color: white;
  font-size: 30px;
}
.listbodyy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: 50px;
  background-color: rgba(44, 42, 42, 0.5);
}
.listcontainer {
  width: 50%;
  padding: 5px;
}
.listbox {
  /* padding-right: 20px; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 50px;
  width: 80%;
}
.listbox:hover {
  opacity: 0.7;
}
.listimg {
  width: 75px;
  height: 43px;
  /* margin-right: 50px; */
}

.link {
  text-decoration: none;
  color: black;
  border: 1px solid #61dafb;
  background-color: rgba(211, 207, 207, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.link:hover {
  transform: scale(1.05);
}
.linkG {
  text-decoration: none;
  color: black;
  border: 1px solid #61dafb;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.linkG:hover {
  opacity: 0.7;
}
.listbutton {
  margin-bottom: 30px;
}
.buttonL {
  margin-left: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buttonL:hover {
  background-color: #0056b3;
}
/* ----------GameDetail-------- */
.detailed {
  color: #000;
}
.detailed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailedbody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  background-color: rgba(255, 254, 254, 0.5);
}
.detailedimg {
  width: 400px;
  height: 200px;
}
.ability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.abilitytitle {
  font-weight: bold;
  /* margin-right: 10px; */
  margin-top: 10px;
  color: #000;
}
.abilitycontent {
  margin-right: 5px;
}
.arrowbuttonleft {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #000; /* Add your desired border styles */
  border-radius: 5px;
  margin: 10px;
  background-color: #ffc107; /* Change the background color */
  color: #000; /* Change the text color */
  margin-left: 10px;
}

/* ----------------Toolbar ------------------ */
.toolbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
}

.logo {
  height: 50px;
}

.search-icon {
  height: 20px;
}

.profile-container {
  margin-left: auto;
}
/* ----------------menu ------------------ */
.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.burger-bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.clicked:nth-child(1) {
  transform: rotate(-45deg) translate(-12px, 12px);
}

.clicked:nth-child(2) {
  opacity: 0;
}

.clicked:nth-child(3) {
  transform: rotate(45deg) translate(-10px, -8px);
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.drawerPaper {
  width: 250px;
  margin-top: 80px;
}
.drawer-content {
  padding: 20px;
  height: 100vh;
}

.drawer-content ul {
  list-style: none;
  padding: 0;
}

.drawer-content li {
  margin-bottom: 10px;
}

.drawer-content a {
  text-decoration: none;
  color: #edeaea;
  font-weight: bold;
  font-size: 16px;
}

.drawer-content a:hover {
  color: #007bff;
}
/* +++++++++++++SearchBar+++++++++++++++ */
/* Style for the modal */
.modal {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow-y: auto; */
  z-index: 1000;
}

/* Style for the modal content */
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  transform: translate(12.5%);
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  z-index: 1100;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #e9e3e3;
}
.searchlist {
  display: flex;
  flex-direction: column;
}
/* ++++++++++++++++++About++++++++++++++++ */
.aboutContainer {
  background-image: url('./assets/aboutbk.jpg');
  background-size: cover;
  height: 100vh;
}
.aboutbody {
  margin-top: 80px;
}
p {
  color: #ccc;
}
/* ++++++++++++++++++Help++++++++++++++++ */
.helpContainer {
  background-image: url('./assets/helpbk.jpg');
  background-size: cover;
  height: 100vh;
}
.helpbody {
  margin-top: 80px;
}
.aboutcolor {
  color: #0d0d0d;
}
